/* 6. font-family and font-size using universal selector */
* {
    font-family: "Courier New", monospace;
    font-size: 18px;
}

/* 7. font-size for h1 */
h1 {
    font-size: 20px;
}

/* 5. External Styling */
p + p + p {
    color: yellow;
}

/* 8. uppercase letter using id selector */
#all-caps {
    text-transform: uppercase;
}

/* 9. change background color using class selector */
.languages {
    background-color: rgb(142, 184, 142);
}

/* 10. change border using attribute selector */
li[name="tools"] {
    border: 2px solid skyblue;
}

/* 11. change list style type using adjacent sibling selector */
img + ul {
    list-style-type: none;
}

/* 12. change dimensions of the umage using descendant selector */
section img {
    border-radius: 100%;
    height: 100px;
    width: 100px;
}

/* 13. alignment of the last paragraph using generic sibling selector */
ul ~ p {
    text-align: center;
}

/* 14. change letter spacing using child selector */
ul > li {
    letter-spacing: 10px;
}